<h1>My Bookings</h1>

<% if @bookings.any? %>
  <ul>
    <% @bookings.each do |booking| %>
      <li>
        <strong>Reference:</strong> <%= booking.booking_reference %><br>
        <strong>Show:</strong> <%= booking.bookable.display_info %><br>
        <strong>Status:</strong> <%= booking.status.titleize %><br>
        <strong>Total Price:</strong> $<%= booking.total_price %><br>
        <%= link_to "View Details", booking_path(booking) %>
      </li>
      <hr>
    <% end %>
  </ul>
<% else %>
  <p>You have no bookings yet.</p>
<% end %>
